{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  body {
    background-color: #1f1f1f;
    color: white;
  }

  .castActor {
    background-repeat: no-repeat;
    background-size: contain;
    height: 70vh;
    border-radius: 2rem;
  }

  .posterBox {
    height: 50vh;
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
  .filmoBox {
    height: 70vh !important;
  }
  .filmoBox > img {
    height: 100% !important;
  }
  .chrName {
    position: absolute;
    font-family: 'Impact', sans serif;
    background-color: rgba(0,0,0,0.7);
  }
</style>
{% endblock %}

{% block body %}
{% include '_navbar.html' %}
<div class="container mt-5">

  <h1 class="text-white p-5">{{ people.name }}</h1>
  <div class="row">
    <div class="col-6">
      <div class="castActor m-2" role="link"
        style="background-image: url('https://image.tmdb.org/t/p/w500{{people.profile_path}}');">
      </div>
    </div>
    <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide m-2" data-ride="carousel">
						<div class="carousel-inner">
						<div class="carousel-item active h-50">
							<h2 style="height:50vh;padding-top:24vh" class="text-center">{{ people.name }}의 작품 목록</h2>
						</div>
            {% for credit in people.credit_set.all %}
            <div class="carousel-item filmoBox">
              <h3 class="chrName">{{ credit.character }} 역</h3>
							<a href="{% url 'movies:detail' credit.movie.id %}">
              <img src="https://image.tmdb.org/t/p/w500{{ credit.movie.poster_path }}" class="mx-auto h-auto">
							</a>
              
            </div>
            {% endfor %}
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"></a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"></a>
        </div>
			</div>
    </div>
    {% endblock %}
