<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<br>
    {{ genre.name }} <span id="M">{{ filter.count }}</span>  -  <span id ="m">{{count}}</span>
    <a href="{% url 'movies:genres' %}">모든 장르</a>
    <a href="{% url 'movies:make_fake' genre.id %}">만들기</a>
    <hr>
    {% for f in filter %}
    <p>{{ f.title }}</p>
    <br>
    {% endfor %}
    <script>
        const M = document.querySelector('#M').innerText
        var m = document.querySelector('#m').innerText
        {% comment %} while (M >= 3* m) {
            setTimeout(function() {
                console.log(m)
                m ++
            },10)
        } {% endcomment %}
    </script>
</body>
</html>