{% extends 'base.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'movies/css/starrating.css' %}">

{% endblock %}

{% block body %}
{% include 'movie_navbar.html' %}

  <div id="app">
    <h1>{{text}}</h1>
    <h1>등록된 영화 : {{ movies.count }}개</h1>
    {% for movie in movies %}
    <div>
        <h2>{{ movie.title }}</h2>
        <a href="{% url 'movies:detail' movie.id %}">
          <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" alt="">
        </a>
      </div>
      {% endfor %}
  </div>
{% endblock %}