
  <fieldset class="score review_score_{{review.score}}">
      <input onclick="submit()" type="radio" id="star10" name="score" value="10"/>
      <label onclick="submit()" class="full" for="star10" title="최고의 영화입니다. 10점"></label>
      <input onclick="submit()" type="radio" id="star9" name="score" value="9"/>
      <label onclick="submit()" class="half" for="star9" title="훌륭한 영화입니다. 9점"></label>
      <input onclick="submit()" type="radio" id="star8" name="score" value="8"/>
      <label onclick="submit()" class="full" for="star8" title="괜찮은 영화입니다. 8점"></label>
      <input onclick="submit()" type="radio" id="star7" name="score" value="7"/>
      <label onclick="submit()" class="half" for="star7" title="적당한 영화입니다. 7점"></label>
      <input onclick="submit()" type="radio" id="star6" name="score" value="6"/>
      <label onclick="submit()" class="full" for="star6" title="음... 6점"></label>
      <input onclick="submit()" type="radio" id="star5" name="score" value="5"/>
      <label onclick="submit()" class="half" for="star5" title="별로입니다. 5점"></label>
      <input onclick="submit()" type="radio" id="star4" name="score" value="4"/>
      <label onclick="submit()" class="full" for="star4" title="썩 좋지 않습니다. 4점"></label>
      <input onclick="submit()" type="radio" id="star3" name="score" value="3"/>
      <label onclick="submit()" class="half" for="star3" title="우웩! 3점"></label>
      <input onclick="submit()" type="radio" id="star2" name="score" value="2"/>
      <label onclick="submit()" class="full" for="star2" title="인생의 낭비입니다. 2점"></label>
      <input onclick="submit()" type="radio" id="star1" name="score" value="1"/>
      <label onclick="submit()" class="half" for="star1" title="다시 보라면 당신을 한대 때리겠습니다. 1점"></label>
  </fieldset>
  <input id='starSubmit' type="submit" hidden>
</form>