<div class="navbar">
    <div>
      <a href="{% url 'movies:index' %}">홈</a>
    </div>
    <div>
    <form action="{% url 'movies:search' %}" class="form-inline my-2 my-lg-0">
      <input name="q" class="form-control mr-sm-2 bg-transparent text-dark searchField"
        type="search" placeholder="영화명, 장르, 배우">
      <button class="btn btn-outline-dark px-5 my-2 my-sm-0"
        type="submit">찾아줘!</button>
    </form>
    </div>
    <div class="userdropdown">
      {% if user.is_authenticated %}
        <div class="dropdown">
          <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user}}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'accounts:detail' user.pk %}">회원정보</a>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">로그아웃</a>
          </div>
        </div>
      {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
      {% endif %}
    </div>
  </div>