{% extends 'base.html' %}
{% block css %}
<style>
  body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: #fff;
    font-family: "Yeon Sung";
  }

  .movieSteel {
    border-radius: 5%;
    height: 20rem;
    width : 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
  }

  #stars > i {
    color : #FFD700;
    font-size : 2.3rem;
    margin-top: 1rem;
  }
  .reviewField {
    color: #1f1f1f;
    background: aliceblue;
    text-align: center;
    word-wrap: auto;
    border-radius: 5px 5px;
  }
  .row {
    align-items: center;
  }
</style>
{% endblock %}

{% block body %}
{% include '_navbar.html' %}
<div class="container mt-5 p-5">
  <div class="row text-white">
    <h1 class="mt-5">{{ userinfo.first_name }}</h1>
  </div>
  <h3>LIKEY MOVIES</h3>
  <div class="container">
    <div class="row movie-row">
    {% for movie in userinfo.like_movies.all %}
      <a href="{% url 'movies:detail' movie.id %}">
        <div class="col-12 col-xl-3">
          <div class="movieSteel" style="background-image: url('https://image.tmdb.org/t/p/w200{{movie.poster_path}}')">
        </div>
      </a>
    {% endfor %}
    </div>
  </div>
  <hr class="border-white">
  <h3>나의 장르별 선호도는?</h3>
  <div class="mt-3">
    {% for genre in user_like_genre %}
      {{ genre.0 }} - {{genre.1.0}} 점 ! - {{genre.1.1}}개의 {{genre.0}}영화에 리뷰달았ㅅ브니다
      <br>
      {% endfor %}
  </div>
  <hr class="border-white">
  <h3>MY REVIEW</h3>
  <div class="container-fluid">
      <div class="row movie-row mt-3">
      {% for review in userinfo.review_set.all %}
      <a href="{% url 'movies:detail' review.movie_id %}" class="text-decoration-none text-white">
      <div class="col-12 col-xl-3">
        <h3 class="text-center">{{ review.movie.title }}</h3>
          <div class="movieSteel" style="background-image: url('https://image.tmdb.org/t/p/w200{{review.movie.poster_path}}')"></div>
        </a>
        <div class="ml-3" id="stars">
          <p hidden class="star">{{ review.score }}</p>
            <i id="star1" class="fa fa-star-o"></i>
            <i id="star2" class="fa fa-star-o"></i>
            <i id="star3" class="fa fa-star-o"></i>
            <i id="star4" class="fa fa-star-o"></i>
            <i id="star5" class="fa fa-star-o"></i>
        </div>
        <p class="reviewField mt-1 mb-5">{{ review.content }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endblock %}
</div>
</div>  
  {% block script %}
  <script>
    const star =document.querySelectorAll('.star')
    const stars = document.querySelectorAll('#stars')
    for (i=0; i< star.length; i++) {
      var point = 0
      while (star[i].innerText > point) {
        point += 2
        stars[i].children[(point/2)].classList.replace('fa-star-o','fa-star')
      }
      if (point != star[i].innerText) {
        stars[i].children[(parseInt(star[i].innerText)+1)/2].classList.replace('fa-star','fa-star-half-o')
      }
    }

  </script>
  {% endblock script %}
