{% extends 'base.html' %}
{% block body %}
<div class="container">
<h2>{{ userinfo }} 님의 정보 </h2>
<h3>영화</h3>
  {% for like_movie in userinfo.like_movies.all %}
    <p>{{ like_movie.title }}</p>
    {% for genre in like_movie.genres.all %}
      {{ genre.name }}
    {% endfor %}
  {% endfor %}

<hr>
<h3>리뷰</h3>
{% for review in userinfo.review_set.all %}
<p>{{ review.movie.title }} - {{ review.content }}</p>
{% endfor %}
<h4>팔로잉</h4>
{{ userinfo.followings.all.count }}
{% for user in userinfo.followings.all %}
{{ user }}
{% endfor %}
<h4>팔로워</h4>
{{ userinfo.followers.all.count }}
{% for user in userinfo.followers.all %}
{{ user }}
{% endfor %}
</div>
{% endblock %}