{% extends 'base.html' %}
{% load static %}
{% block css %}
{% load socialaccount %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock css %}

{% block body %}
<div class="container-fluid m-0 p-0 loginWindow">
		<a href="{% url 'indexes:welcome' %}"><h1 class='text-white position-absolute' style="z-index:2;font-family: 'Permanent Marker', cursive;">
        Inspiration
    </h1></a>
  <div class="row">
    <form method="post" class="col-6 text-center loginBox flex-lg-nowrap">
      {% csrf_token %}
      <div class="mt-5">
        <h2 class="justify-content-center text-white">LOG IN TO <span class="ourAppName">INSPIRATION</span></h2>
				<hr class="border-light mb-4">
				{% if form.errors %}
				<p class="text-danger">아이디 혹은 비밀번호를 확인해주세요!</p>
				{% else %}
				<p class="text-white">로그인 하시려면 아래의 정보를 입력해주세요.</p>
				{% endif %}
				<div class="align-content-center">
          {{ form }}
				</div>
				<p class="text-muted mb-4">영감 회원이 아니신가요? <a class="text-white"
					href="{% url 'accounts:signup' %}">지금 가입하기</a></p>
        <button type="submit" class="buttonLogin">LOGIN</button>
        <div class="text-left">
          <div class="text-right text-muted copyright">
            copyright (c) 2019. SSAFY DJ-py-02-01
          </div>
          <a href="{% provider_login_url 'kakao' %}"><img src="{% static 'img/kakao_login.png' %}" style="height: 40px;"></a>
          <a href="{% provider_login_url 'google' %}"><img src="{% static 'img/google_login.png' %}" style="height: 44px;"></a>
        </div>
      </div>
    </form>
</div>

{% endblock %}
