  <nav class="navbar-expand-xl navbar fixed-top">
    <!-- 로고 -->
    {% if user.is_authenticated %}
    <h1 id="logoic" class='logoic text-white' style="font-family: 'Permanent Marker', cursive;"><a style="text-decoration: none;" href="{% url 'indexes:index' %}">
        Inspiration
    </a></h1>
    {% else %}
    <h1 id="logoic" class='logoic text-white' style="font-family: 'Permanent Marker', cursive;">
        Inspiration
    </h1>
    {% endif %}
    <!-- 로고 끝 -->
    <button class="navbar-toggler ml-auto " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto flex-nowrap justify-content-between">
        {% if user.is_authenticated %}
        <li class="nav-item active mx-4 border-bottom">
          <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
        </li>
        <li class="nav-item mx-4 border-bottom">
          <a class="nav-link" href="#" tabindex="-1">내가 찜한 영화</a>
        </li>
        
      </ul>
      <form action="{% url 'movies:search' %}" class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2 bg-transparent text-white searchField"
          type="search" name="q" placeholder="영화명, 장르, 배우">
        <button type="submit">찾아줘!</button>
      </form>
      {% endif %}
    </div>
  </nav>
