{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'indexes/css/genre_select.css' %}">
{% endblock %}

{% block body %}
{% include '_navbar.html' %}

<div class="container-fluid">
	{% if gid.0	%}
		<p class="display-1 font-weight-bolder">{{ gid.0.name }} </p>
		<p class="display-3 text-right">TOTAL {{movies.count}}</p>
	{% else %}
		<p class="display-1 font-weight-bolder">한국영화</p>
		<p class="display-3 text-right">TOTAL {{movies.count}}</p>
	{% endif %}
	<div class="row flex-wrap mt-5">
		{% for movie in movies %}
			<div class="col-12 col-xl-3 my-3">
				<a class="text-decoration-none" href="{% url 'movies:detail' movie.id %}">
					<div class="movieSteel" style="background-image: url('https://image.tmdb.org/t/p/w500{{movie.poster_path}}')">
						<h1 class="exScore"></h1>
					</div>
				</a>
			</div>
			{% endfor %}
	</div>
</div>
{% endblock %}

{% block script %}
<script>
    lst = document.querySelectorAll('.exScore')
    for (i=0;i<lst.length;i++) {
        lst[i].innerText = i+1 + ' 위'
    }
</script>
{% endblock script %}