{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'indexes/css/index.css' %}">
<link rel="stylesheet" href="{% static 'indexes/css/genre_select.css' %}.css">
{% endblock %}

{% block body %}
{% include '_navbar.html' %}
<h1>{{ genre.name }}</h1>
<div class="container-fluid">
	<div class="row flex-wrap mt-5">
		{% for movie in movies %}
			<div class="col-3 my-3">
				<a class="text-decoration-none" href="{% url 'movies:detail' movie.id %}">
					<div class="movieSteel" style="background-image: url('https://image.tmdb.org/t/p/w500{{movie.poster_path}}')">
						<h1 class="exScore"></h1>
					</div>
				</a>
			</div>
			{% endfor %}
	</div>
</div>
{% endblock %}

{% block script %}
<script>
    lst = document.querySelectorAll('.exScore')
    for (i=0;i<lst.length;i++) {
        lst[i].innerText = i+1 + ' 위'
    }
</script>
{% endblock script %}