{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'indexes/css/index.css' %}">
{% endblock %}

{% block body %}
<h1 class="opener">INSPIRATION</h1>
{% include '_navbar.html' %}
<div id='car' class="carousel fadein mt-3 mb-0">
    <h2 class="queIndicator mt-5">{{ user.first_name }} <small>님의 맞춤 대기열</small></h2>

    <div class="pgnat">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a style="color:orange" class="page-link" href="/index/" tabindex="-1" aria-disabled="true">평점순</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="/index/my">추천순</a>
            </li>
        </ul>
    </div>
    <div class="carousel-row">
    {% if movies %}
        {% for movie in movies %}
        <div class="carousel-tile">
            <a href="{% url 'movies:detail' movie.0.id %}" class="text-decoration-none">
                <h3 class="position-absolute">{{ movie.1 }} 점 | {{ movie.2 }}%</h3>
                <img src="https://image.tmdb.org/t/p/w500{{ movie.0.poster_path }}" style="height: 40vh;">

            </a>
            <div class="text-white text-center mt-3 p-0">
                <h3 class="car-body overflow-hidden">{{ movie.0.title }}</h3>
                <i class="fa fa-clock-o">{{ movie.0.runtime }}분</i>
                <br>
                <div class="row m-0 p-3">
                {% for genre in movie.0.genres.all %}
                    <p class="col badge badge-info ">{{ genre.name }}</p>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        </div>
        <div class="container-fluid mx-5 text-center">
            <h1 class="display-4 font-weight-bolder text-center mt-5 text-white-50 w-100">
                회원님의 평가가 부족해요! 저희에게 회원님을 더 알려주세요. 
            </h1>
            <h1>
                <a style="color:orange" href="/rater/">초기평가 하러가기</a>
            </h1>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    const lst = document.querySelector('#car')
    const app = document.querySelector('#app')
    const navbar = document.querySelector('#navBar')
    const rand = document.querySelectorAll('.rand')
    const tiles = document.querySelectorAll('.carousel-tile')
    const tags = document.querySelectorAll('.badge-info')
    let last_known_scroll_position = 0;
    let flag = false
    const colors = ['primary', 'danger', 'success', 'warning', 'info', 'light']
    window.onload = function() {
        navbar.hidden = true
        lst.hidden = true
        setTimeout(function() {
            navbar.classList.add('fadein')
            lst.hidden = false
            navbar.hidden = false
            for (i=0; i<tags.length; i++) {
                tags[i].classList.replace('badge-info', 'badge-' + colors[Math.floor(Math.random() * colors.length)])
            }
        }, 50);
    }


    function sideScroll(direction, speed, distance, step) {
        scrollAmount = 0;
        var slideTimer = setInterval(function() {
            if (direction == 'left') {
                lst.scrollLeft -= step;
            } else {
                lst.scrollLeft += step;
            }
            scrollAmount += step;
            if (scrollAmount >= distance) {
                window.clearInterval(slideTimer);
            }
        }, speed);
    }
    window.addEventListener('wheel', function(e) {
        if (e.deltaY > 0) {
            sideScroll('right', 3, 340, 5)
        } else {
            sideScroll('left', 3, 340, 5)
        }
    })
</script>

{% endblock %}