@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.min.css);

fieldset, label { margin: 0; padding: 0; }

.score { 
  border: none;
  float: left;
}

.score > input { display: none; } 
.score > label:before { 
  font-size: 3.25em;
  margin: 10px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.score > .half:before { 
  content: "\f089";
  position: absolute;
}

.score > label { 
  color: #1f1f1f;
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.score > input:checked ~ label, /* show gold star when clicked */
.score:not(:checked) > label:hover, /* hover current star */
.score:not(:checked) > label:hover ~ label { color: rgb(255, 228, 73);  } /* hover previous stars in list */

.score > input:checked + label:hover, /* hover current star when changing score */
.score > input:checked ~ label:hover,
.score > label:hover ~ input:checked ~ label, /* lighten current selection */
.score > input:checked ~ label:hover ~ label { color: rgb(255, 220, 24);  } 