.loginWindow {
  background: url("/static/img/beuty.jpg") center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
  height: 100vh;
  overflow: hidden;
  color: white;
}

.loginBox {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 100vh;
  width: 50vw;
  padding-left: 9vw;
  padding-right: 9vw;
  padding-top: 15vh;
  margin-bottom: 0;
}
.customTextInput{
  height: 6vh;
  padding: 1vh;
  border: 2px solid orange;
  margin: 3rem 0rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ourAppName {
  color: orange;
}

.loginBox:hover {
  animation: fadein 1s ease-in;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes fadein {
  0% {background: none;}
  100% {background: rgba(0, 0, 0, 0.5);}
}

.login-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  opacity: 0.85;
}
.buttonLogin{
width: 100% !important;
}